<mat-card>
    <mat-card-header>
        <h2>Admission Details</h2>
    </mat-card-header>
    <mat-card-content>
<!--        <div class="mat-elevation-z8" >-->
<!--            <button (click)="createAdmission()"  mat-raised-button color="primary">Add Admission Details</button>-->
<!--        </div>-->
      <p *ngIf="!_isAdmitted">You do not have any Admission details</p>
      <p *ngIf="!_isAdmitted">Fill the following form </p>
      <form class="example-form"  [formGroup]="admissionForm" (ngSubmit)="createAdmission()" >
<!--      <form class="example-form" [formGroup]="admissionForm" (ngSubmit)="submitConcern()">-->
        <mat-form-field class="example-full-width">
          <mat-label>Email (disabled)</mat-label>
          <input matInput formControlName="email" [value]="email" [disabled]=true >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Major</mat-label>
          <input matInput formControlName="major" [value]="major" [disabled]=_isAdmitted>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Degree</mat-label>
          <input matInput formControlName="degree" [value]="degree" [disabled]=_isAdmitted>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Commencement</mat-label>
          <input matInput formControlName="commencement" [value]="commencement" [disabled]=_isAdmitted>
        </mat-form-field>

        <div>
          <button [disabled]=_isAdmitted mat-raised-button color="primary">Submit</button>
          <button mat-button color="warn" (click)="deleteAdmission()" *ngIf="_isAdmitted">Delete</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>


